
.container {
  display: flex;
  padding: .5rem 1rem 1rem 1rem;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;
}

.caminho {
  background-color: #2D3737;
  padding: 1.25rem 1.5rem;
}

.path-container a {
  color: white;
  text-decoration: none;
}

.path-container a:visited{
  text-decoration: none;
  color: white;
}

.access-content {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  background: #2D3737;
}

.images {
  padding: 20px 24px 20px 24px;
}

.images a img {
  width: 440px;
}

.images img:hover {
  scale: 1.009;
  cursor: pointer;
}
