* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  width: 100%;
}

header {
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
}

nav.nav_topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  flex: 0 0 15%;
  background-color: #f0f0f0;
  padding: 10px;
}

.painel {
  flex: 1;
  background-color: rgb(77, 85, 85);
  box-sizing: border-box
}

.caminho-painel {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  background: #567878;
}

.menu_topo {
  display: flex;
  gap: 3.5rem;
}

.menu_topo li {
  list-style: none;
}

.nav_menu ul {
  list-style-type: none;
  padding: 0;
}

.nav_menu ul li {
  margin-bottom: 10px;
}

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
