* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F4F8;
}

.usuario {
  display: flex;
  align-items: flex-start;
}

.imagem-usuario {
  width: 60px;
  height: 60px;
  margin-top: 2px;
}

.icones_usuario {
  margin: 28px 0px 0px -120px;
}

.icones_usuario a img {
  padding: 0 3px 0 3px;
}

span{
  color: #333;
  text-align: center;
  font-family: Inika;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}

.menu_topo {
  display: flex;
  gap: 3.5rem;
  margin-right: 30px;
}

.menu_topo li {
  list-style: none;
  margin-bottom: 0; 
}

.menu_topo li:last-child {
  margin-right: 0;
}

.menu_topo li a {
  text-decoration: none;
  font-family: Verdana, Tahoma, sans-serif;
  color: #333;
}

.painel {
  flex: 1;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box
}

.caminho-painel {
  width: 100%;
  padding: 10px;
  font-family: Verdana, Tahoma, sans-serif;
}

.img-acesso-rapido{
  margin: 0 0 0 20px;
}

.menu {
  width: 200px;
  padding: 20px 0;
  background-color: #E8F1F2;
}

.nav_menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav_menu ul li {
  margin-bottom: 8px;
  font-family: Verdana, Tahoma, sans-serif;
  align-items: center;
}

.nav_menu ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.3s ease;
}

.nav_menu ul li a:hover {
  background-color: #004585;
  color: #ffffff;
}

.nav_menu ul li a img {
  width: 24px;
  height: 24px;
}

.nav_menu ul li a div{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

footer {
  width: 100%;
  background-color: #0f354b;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

footer ul li {
  padding: 20px;
  display: inline-block;
}


